*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

.head{
    width: 100%;
    height: 100px;
    display: flex;
}

.logo{
    width: 200px;
    height: 100%;
    background-color: aqua;
}

.menu{
    width: 1000px;
    height: 100%;
    background-color: aquamarine;
    position: relative;
    z-index: 1;
}

.main{
    padding: 20px 0 0 350px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
}

.main li{
    width: 150px;
    float: left;
    background-color: aliceblue;
}

.main li:hover{
    background-color: black;
    color: aliceblue;
}

.main li:hover > .sub{
    display: block;
}

.sub{
    display: none;
}

.sub li{
    background-color: aliceblue;
    color: black;
}

.sub li:hover{
    background-color: black;
    color: aliceblue;
}

.slide{
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.window{
    width: 4800px;
    height: 300px;
    position: absolute;
    animation: infinite 9s window;
    display: flex;
}

.window li{
    width: 1200px;
    height: 300px;
}

.slide img{
    position: absolute;
    top: 0;
}

@keyframes window{

    0%{
        left: 0%;
    }

    23%{
        left: 0%;
    }

    33%{
        left: -1200px;
    }

    56%{
        left: -1200px;
    }

    66%{
        left: -2400px;
    }

    90%{
        left: -2400px;
    }

    100%{
        left: -3600px;
    }

}

.content{
    width: 100%;
    height: 200px;
    display: flex;
}

.left{
    width: 400px;
    height: 100%;
    background-color: antiquewhite;
}

.center{
    width: 400px;
    height: 100%;
    background-color: aliceblue;
}

.right{
    width: 400px;
    height: 100%;
    background-color: aquamarine;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
}

.logo{
    width: 200px;
    height: 100%;
}

.copy{
    width: 800px;
    height: 100%;
    background-color: black;
}

.sns{
    width: 200px;
    height: 100%;
    background-color: antiquewhite;
}